.header {
    padding: 15px 0;
    background-color: $headerBgColor;
    color: $headerFontColor;
    box-shadow: 0 15px 49px rgba(#003980, .08);

    &-nav,
    &-lang {
        margin-bottom: -15px;
    }

    .social {
        margin-right: 10px;
    }
}

.logo {
    &,
    &-link,
    &-img {
        display: inline-block;
        vertical-align: middle;
    }
}

.phone {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-number {
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &:hover {
            text-decoration: none;
            border-bottom-color: inherit;
        }
    }
}

.social {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        display: block;
        width: 46px;
        height: 43px;
        font-size: 20px;
        line-height: 43px;
        background: image-url('social-bg.svg') no-repeat center center;
        background-size: cover;
        color: $themeColorTwo;
        text-align: center;
        text-decoration: none;

        &:hover {
            color: lighten($themeColorTwo, 5%);
        }
    }
}

.messenger {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
        }
    }
}

.lang {
    @extend %reset-list;

    select {
        width: 100px;
        border: 1px solid #242b38;
        padding: 8px 15px;
        text-align: center;
    }

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;

        a {
            display: block;
        }
    }
}
